@import "tailwindcss";
/* index.css */
@import "leaflet/dist/leaflet.css";

* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
}

@theme {
  --color-mainText: rgb(48, 69, 125);
}
